{% extends "base.html" %}

{% block body_contents %}
<div style="position:relative; top:-55px; left:30px;">
  <form method="POST" action="{{url_for('start')}}">
      <input type="submit" value="Home page" style="background-color:blue; font-size: 20px;">
  </form>
</div>

{% for each_result in result_list %}
<div style="border-style: groove; background-color:white; width:750px; position:relative; left:320px;
margin:0cm 0cm 0.5cm 0cm;">
  <p style="width:90%;">{{each_result[1]}}<p>
  <p style=" width:90%;">{{each_result[0]}}<p>
  <p style=" width:90%;">{{each_result[3]|safe}}<p>
</div>
{% endfor %}

{% endblock %}
