{% extends "base.html" %}

{% block body_contents %}
<div style="position:relative; top:-55px; left:30px;">
  <form method="POST" action="{{url_for('start')}}">
      <input type="submit" value="Home page" style="background-color:blue; font-size: 20px;">
  </form>
</div>

<form method="POST" action="{{url_for('save_post')}}">
    <textarea name="post_content" style="height:3cm; width:20cm; position:relative; left:330px;"> </textarea>
    <input type="submit" value="Post" style="background-color:lightgreen; font-size: 20px; position:relative; top:70px;
    left:-75px;">
</form>


{% endblock %}
