{% extends "base.html" %}

{% block body_contents %}
<div class="unswtalk_student_details">

<div class="student_profile" style="float:left">
  <img src="{{img_path}}" alt="No image" width="165" height="165">
</div>

  <div style="margin:0cm 0cm 0cm 4.6cm">
    <h1>{{full_name}}<font size=-0.05>({{zid}})</font></h1>
    <p>Birthday: {{birthday}}</p>
    <p>Program: {{program}}</p>
    <p>Suburb: {{suburb}}</p>
  </div>
</div>

<div style="clear:both">
  <form method="POST" action="">
      <input type="hidden" name="n" value="7">
      <input type="submit" value="Next student" class="unswtalk_button">
  </form>
</div>
{% endblock %}
