{% extends "base.html" %}

{% block body_contents %}
<div class="unswtalk_student_details">

<div style="float:right; position:relative; top:-80px; right:40px;">
  <form method="POST" action="result">
    <p> Name/ID: <input name="search_item" > <input type="submit" value="Search" > </p>
  </form>
</div>


<div class="student_profile" style="float:left">
  <img src="{{img_path}}" alt="No image" width="165" height="165">
</div>

  <div style="margin:0cm 0cm 0cm 4.6cm;width:440px">
    <h1>{{full_name}}<font size=-0.05>({{zid}})</font></h1>
    <p>Birthday: {{birthday}}</p>
    <p>Program: {{program}}</p>
    <p>Suburb: {{suburb}}</p>
  </div>
</div>

  {% for message in post_list %}
  <div style="border-style: groove; background-color:white; position:relative; left:600px; top:-180px; width:750px; margin:0.5cm;">
    <p style="width:80%;">{{message[0]}} <p>
    <p style=" width:80%;">{{message[1]|safe}} <p>
  </div>
  {% endfor %}

  <h1 style="position:absolute; left:220px; top:320px;"> Friend list </h1>
  <div style="background-color:white; overflow:scroll; height:300px; width:550px; border: solid 1px #aaa; margin: 0 auto;
  position:absolute; left:30px; top:400px;">
        <ul>
            {% for friend in friend_list %}
            <div onmouseover="style.backgroundColor='lightblue'" onmouseout="style.backgroundColor='white'";
            onclick="window.location.href= '?zid={{friend[2]}}';return false">
              <li style="height:2cm;"> <img src="{{friend[1]}}" alt="" width="40" height="40"
                style="position:relative; top:13px;"> {{friend[0]}}</li>
            </div>
            {% endfor %}
        </ul>
  </div>



<div style="clear:both">
  <form method="POST" action="start">
      <input type="hidden" name="n" value="7">
      <input type="submit" value="Next student" class="unswtalk_button">
  </form>
</div>
{% endblock %}
